body {
    background-color:red;
}

.parent {
    display: table;
    margin: 300px auto;
    height: 200px;
}

.dot {
    height: 250px;
    width: 250px; 
    background-color: white;
    border-radius: 50%;
    display: table-cell; 
    vertical-align: middle; 
}