.poster {
    max-width: 500px; 
    margin: 0 auto; 
    background-color: grey; 
}

h1 {
    color: white;

}

.title {
    text-align: center;
}

.circle {
    margin: 0 auto;  
    display: flex;
    align-items: flex-start; 
    height: 800px;
}

.dot {
    margin: 0 auto;
    height: 50px;
    width: 50px; 
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 20%;
}